@import '_variables.scss';
@import '_mixins.scss';
@import "compass";

// !RESETS----------------------------------------------------
// --------------------------------------------------------------------------
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}